@import url(https://fonts.googleapis.com/css?family=Play:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.heading1 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
}
.heading2 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	padding-left: 20px;
}