/** Add css rules here for your application. */
@import url(http://fonts.googleapis.com/css?family=VT323);

/** Example rules used by the template application (remove for your app) */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
LibreDrawLogo {
	font-family: 'VT323', cursive;
	color: Lime;
	font-size: 24px;
	background-color: Black;

}
