/*
	This file is part of LibreDraw.

    LibreDraw is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LibreDraw is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LibreDraw.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url(common.css);

#backgroud {
	background-color: rgb(240,240,240);
	position: absolute;
	left: 100px;
	right: 100px;
	top: 120px;
	bottom: 100px;
	z-index: -1;
	border: 2px solid rgb(155,155,155);
}
#loginBox {
	background-color: rgb(255,255,255);
	position: absolute;
	right: 100px;
	top: 100px;
	width: 230px;
	height: 175px;
	z-index: 1;	
	border: 2px solid rgb(155,155,155);
}
#header {
	position: absolute;
	right: 100px;
	left: 100px;
	top: 50px;
	height: 70px;
	padding-left: 1px;
	font-family: 'Play', sans-serif;
	font-size: 70px;
	font-weight: 700;
}
#footer {
	position: absolute;
	right: 100px;
	left: 100px;
	bottom: 82px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
#body {
	position: absolute;
	left: 120px;
	top: 200px;
}
#rainbow {
	height: 16px;
	z-index: 1;
}
.loginBox {
	padding-left: 10px;
	padding-top:10px;
	padding-bottom: 10px;
}
.loginHorizontal {
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
}
.gwt-Button {
}
.loginHeading {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
}
.loginHeadingTwo {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
.registerBox {
	padding-left: 10px;
	padding-top:10px;
	padding-bottom: 10px;
}
.registerHorizontal {
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
}
.rainbow {
	page-break-after: avoid;
	width: 16px;
	height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
.registerDialog {
	margin-left:10px;
}