#backgroud {
	/*background-color: rgb(240,240,240);*/
	position: absolute;
	left: 0px;
	right: 0px;
	top: 75px;
	bottom: 27px;
	z-index: -1;
	border-bottom: 2px solid rgb(155,155,155);
	border-top: 2px solid rgb(155,155,155);
}
#body {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 77px;
	bottom: 29px;
	z-index: 1;
}
#header {
	position: absolute;
	right: 100px;
	left: 5px;
	top: 5px;
	height: 70px;
	padding-left: 1px;
	font-family: 'Play', sans-serif;
	font-size: 70px;
}
#footer {
	position: absolute;
	left: 20px;
	bottom: 5px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}
.newProjectHorizontal {
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
}
